.service-item ul {
    text-align: left;
}
.card-info {
    background: url('../../assets/img/informationsecurity.webp');
    position: relative;
}
.card-da {
    background: url('../../assets/img/data_analytics.jpg');
    position: relative;
}
.card-bi {
    background: url('../../assets/img/businessimprovement.jpg');
    position: relative;
}
.card-content-wrapper {
    /* position: absolute; */
    background: rgb(26 40 63 / 87%);
    z-index: 1;
    color: #fff;
    top: 0;
}
.card-content-wrapper2 {
    /* position: absolute; */
    background: rgb(26 40 63 / 87%);
    z-index: 1;
    color: #fff;
    top: 0;
}

.card-content-wrapper ul {
    text-align: left;
}

.card-content-wrapper2 ul {
    text-align: left;
}
.wrapperLayout{
    width: 108% !important;
    padding: 0;
}